html
    head
        title Protected page
    body
        div Hey #{username}, How are you doing today?
        form(method='GET' action='/test')
            button.btn.btn-primary(type='submit') Sign up